/* =========================
    MAIN
   ========================= */

main {
    padding: 80px 10px 10px 10px;
    background-color: #fff;
}

section {
    margin-bottom: 20px;
    text-align: center;
}