// ==========================
// BOTONES GENERADOS POR BUCLE
// ==========================

@use "../base/extends" as *;
@use "../base/variables" as *;
@use "sass:list";



// Mapa de colores 
$botones: (
    "reservar": ($primary, 1.15, 0 0 14px $primary, rgba($primary, 0.8)),
    "enviar": ($primary, 1.01, 0 0 5px $primary, rgba($primary, 0.8)),
    "azul": ($secondary, 1.05, 0 0 10px $secondary, rgba($secondary, 0.99)),
    "celeste": ($tertiary, 1, 0 0 1px $tertiary, rgba($tertiary, 0.9)),
    "negro": ($dark, 1, 0 0 1px $dark, rgba($dark, 0.99))
);

// Genera automáticamente las clases .btn-reservar, .btn-azul, .btn-celeste y .btn-negro

@each $nombre, $valores in $botones {
    $color: list.nth($valores, 1); // primer valor -> color
    $scale: list.nth($valores, 2); // segundo valor -> escala
    $shadow: list.nth($valores, 3); // tercer valor -> escala
    $background: list.nth($valores, 4); // cuarto valor -> escala

    .btn-#{$nombre} {
        @extend %btn-base;
        background-color: $color;
        color: #fff;
        box-shadow: 0 0 10px rgba($color, 0.3);

        &:hover {
            background-color: $background;
            box-shadow: $shadow;
            transform: scale($scale);
        }
    }
}