/* =========================
    CONTACTO
   ========================= */

@use "../base" as *;
@use "../base/mixins" as mixins;

main {
    .contacto {
        background: #f0f2f5;
        padding: 30px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .contenedor-contacto {
            @include card-style(
                $padding: 30px,
                $radius: 12px,
                $shadow: 0 4px 12px rgba(0, 0, 0, 0.08),
                $hover-translate: 0,
                $hover-shadow: 0 4px 12px rgba(0, 0, 0, 0.08)
            );

            max-width: 600px;
            width: 100%;

            .titulo-contacto {
                font-size: 1.8rem;
                color: #1f3b45;
                margin-bottom: 20px;
                text-align: center;
                background: #eaf8fb;
                padding: 12px;
                border-radius: 8px;
            }

            .formulario-contacto {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .grupo-input {
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    label {
                        font-weight: 600;
                        font-size: 0.9rem;
                        margin-bottom: 4px;
                    }

                    input, textarea{
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 6px;
                        font-size: 1rem;
                        outline: none;
                        transition: border 0.3s ease, box-shadow 0.3s ease;

                        &:focus {
                            border-color: #24ae7e;
                            box-shadow: 0 0 6px #24ae7e50;
                        }
                    }
                }

                .btn-enviar {
                    background: #24ae7e;
                    color: #fff;
                    border: none;
                    padding: 12px;
                    border-radius: 8px;
                    font-weight: bold;
                    font-size: 1rem;
                    cursor: pointer;
                    transition: background 0.3s ease, transform 0.2s ease;

                    &:hover {
                        background: #1e8f67;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}
